/*-------------------Header-------------------------*/
.site-header-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo img {
    height: 40px;
}
.top-menu {
    min-width: 50px;
    display: flex;
    align-items: center;
}
.page-width::after {
    display: none;
}
.top-menu ul {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding: 4px 0;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.top-menu li {
    display: block;
}
.top-menu li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #1d2733;
    PADDING: 8px 24px;
}
.top-menu .cart {
    display: block;
    background: url("../images/cart.svg") center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: relative;
    top: -5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #1d2733;
    margin-left: 10px;
}

.cart span {

    position: relative;
    left: 7px;
    top: 6px;
}
/*------------------Page template------------------*/
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.ingredients{
    padding: 24px 0 0;
}
.sale-wrapper{
    width: 100%;
}
.section-header__title{
    font-size: 24px;
    color: #2e3192;
    font-weight: 600;
}
.description h2{
    margin: 13px 0 30px;
    font-size: 36px;
    letter-spacing: 0.6px;
}
.ingredients-description{
    font-size: 24px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}
.custom-formula{
    background: #fff;
    padding: 15px 30px;
    text-align: left;
    color: #2e3192;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 20px;
}
.box-wrapper{
    display: flex;
    flex-direction: column;
}
.box{
    border-bottom: 1px solid #2e3192;
    display: flex;
    flex-direction: row;
    padding: 40px 0;
}
.box-content{
}
.box-img{
    width: 128px;
    height: 128px;
    margin: 0 32px;
}
.box-title{
    font-size: 16px;
    font-weight: 600;
}
.box-text{
    font-size: 14px;
    line-height: 1.5;
}
.btn-tab-block {
    margin-top: 66px;
}
.btn-tab-block button {
    display: inline-block;
    padding: 12px 50px;
}
.btn-ingr-block{
    text-align: center;
}
.btn-tab-block .btn-ingredients{
    background: #70009f;
    border: 1px solid #70009f;
}
.btn-tab-block .btn-ingredients:hover{
    background: #fff;
    color: #70009f;
}
.icons-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hair-icon{
    list-style: none;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.hair-icon img{
    width: 100%;
}
.hair-analysis.box{
    flex-direction: column;
    padding: 32px 6px;
}
.hair-analysis .box-title{
    font-size: 14px;
}
.hair-analysis .box-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.hair-analysis .box-img{
    max-width: 56px;
    max-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}
.hair-analysis .box-title{
    margin: 0;
}
.hair-analysis .box-text{
    font-size: 12px;
    margin-left: 8px;
}
#chart {
    max-width: 650px;
    margin: 35px auto;
}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}
.accordionItemHeading{
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    margin:0;
    padding:10px;
    border-bottom: 1px solid rgb(240, 244, 247);
    background-color: rgb(255, 161, 161);
    color:#fff;
    width:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionItemHeading:hover{
    color: rgb(255, 161, 161);
    background-color: rgb(255, 255, 255);
}
.accordionItemHeading:hover > svg{
    fill:  rgb(255, 161, 161);
}
.close .accordionItemContent{
    height:0;
    transition:height .35s linear;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordionItemContent{
    padding: 20px;
    width: 100%;
    display:block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    transition: transform 0.35s linear;
    box-sizing: border-box;
}
.accordionItemContent:hover{
    background-color: #fff;
}
.open .accordionItemHeading{
    margin:0;

    color: rgb(255, 161, 161);
    background-color: rgb(255, 255, 255);
}
.open .accordionItemHeading > svg{
    fill:  rgb(255, 161, 161);
}
svg{
    width: 20px;
    height: 20px;
    fill: rgb(255, 255, 255);
    float: right;
}
.minus{
    display: none;
}
.open .minus{
    display: block;
}
.open .plus{
    display: none;
}

@media only screen and (min-width: 750px){
    .section-header {
        margin: 27px 0;
    }
    .medium-up--push-one-fifth {
        left: auto;
    }
    .medium-up--eight-tenths {
        width: auto;
    }
}
@media only screen and (max-width: 750px) {
    .grid__item{
        float: none;
        padding-left: 0;
        width: 100%;
        margin-left: auto;
    }
    .hair-analysis.box {
        align-items: start;
    }
    .box-text {
        text-align: left;
        margin-top: 16px;
    }
    .icons-row {
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 749px){
    .description h2{
        font-size: 3rem;
    }
    .section-header{
        margin: 0;
    }
    .ingredients-description {
        font-size: 18px;
    }
    .custom-formula {
        text-align: center;
        font-size: 18px;
        margin: 24px 0 0;
    }
    .box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-img{
        margin: 16px 32px;
    }
}
@media(max-width: 660px) {
    .grid{
        margin-left: auto;
    }
    .bottle {
        margin: 46px 0;
    }

    .bottle-row {
        margin: 0;
    }
    .site-header-sections {
        flex-direction: column;
        padding: 8px;
    }
    .top-menu .cart {
        margin-left: 0;
    }
    .top-menu li a {
        PADDING: 8px 10px;
    }

    element.style {
    }
    .grid__item[class*='--push'] {
        position: relative;
    }
    .custom-top__bar-block {
        text-align: center;
        margin-bottom: 50px;
    }

}
@media(max-width: 500px){
    .perc b:before{
        left: 5%;
    }
}
@media(max-width: 380px){
    .perc b:before{
        left: 3%;
    }
    .perc b{
        font-size: 0.9em;
    }
    .age-para{
        font-size: 1.9em;
    }
}


