/*-------------------Header-------------------------*/
.site-header-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo img {
    height: 40px;
}
.top-menu {
    min-width: 50px;
    display: flex;
    align-items: center;
}
.page-width::after {
    display: none;
}
.top-menu ul {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding: 4px 0;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.top-menu li {
    display: block;
}
.top-menu li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #1d2733;
    PADDING: 8px 24px;
}
.top-menu .cart {
    display: block;
    background: url("../images/cart.svg") center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: relative;
    top: -5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #1d2733;
    margin-left: 10px;
}

.cart span {

    position: relative;
    left: 7px;
    top: 6px;
}
/*------------------Page template------------------*/
.content-for-layout {
    background-color: #fff;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.ingredients{
    padding: 24px 0 0;
}
.sale-wrapper{
    width: 100%;
}
.section-header__title{
    font-size: 24px;
    color: #2e3192;
    font-weight: 600;
}
.description h2{
    margin: 13px 0 30px;
    font-size: 36px;
    letter-spacing: 0.6px;
    font-weight: 600;
}
.ingredients-description{
    font-size: 24px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}
.custom-formula{
    background: #fff;
    padding: 15px 30px;
    text-align: left;
    color: #2e3192;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 20px;
}
.box-wrapper{
    display: flex;
    flex-direction: column;
}
.box{
    border-bottom: 1px solid #2e3192;
    display: flex;
    flex-direction: row;
    padding: 40px 0;
}
.box-content{
}
.box-img{
    width: 128px;
    height: 128px;
    margin: 0 32px;
}
.box-title{
    font-size: 16px;
    font-weight: 600;
}
.box-text{
    font-size: 14px;
    line-height: 1.5;
}
.btn-tab-block {
    margin-top: 66px;
}
.btn-tab-block button {
    display: inline-block;
    padding: 12px 50px;
}
.btn-ingr-block{
    text-align: center;
}
.btn-tab-block .btn-ingredients{
    background: #70009f;
    border: 1px solid #70009f;
}
.btn-tab-block .btn-ingredients:hover{
    background: #fff;
    color: #70009f;
}
.icons-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hair-icon{
    list-style: none;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.hair-icon img{
    width: 100%;
    max-height: 48px;
}
.hair-analysis.box{
    flex-direction: column;
    padding: 32px 6px;
}
.hair-analysis .box-title{
    font-size: 14px;
}
.hair-analysis .box-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.hair-analysis .box-img{
    max-width: 56px;
    max-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}
.hair-analysis .box-title{
    margin: 0;
}
.hair-analysis .box-text{
    font-size: 12px;
    margin-left: 8px;
}
#chart {
    max-width: 650px;
    margin: 35px auto;
}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid #979797;
}
.accordionItemHeading{
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    margin:0;
    padding:30px;
    color:#2f2533;
    width:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordionItemHeading:hover {
    color: #2e3192;
}

.accordionItemHeading:hover > svg{
    fill: #2e3192;
}
.close .accordionItemContent{
    height:0;
    transition:height .35s linear;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordionItemContent{
    padding: 20px;
    width: 100%;
    display:block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    transition: transform 0.35s linear;
    box-sizing: border-box;
}
.accordionWrapper {
    border-top: 1px solid #979797;
}

.open .accordionItemHeading{
    margin:0;

    color: #2e3192;
    font-size: 18px;
}
.open .accordionItemHeading > svg{
    fill:  #2e3192;
}
svg{
    width: 20px;
    height: 20px;
    fill: #2f2533;
    float: right;
}
.minus{
    display: none;
}
.open .minus{
    display: block;
}
.open .plus{
    display: none;
}
.acc-ico {
    width: 36px;
    height: 100%;
}
.price-page {
    display: flex;
    flex-direction: row;
}

.pricing-plan-content {
    padding-left: 30px;
}

.pricing-plan-image {
    min-width: 50%;
}
.rate {
    font-size: 18px;
    margin: 0 8px;
}
.rating {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
}
.special {
    color: #2e3192;
    font-size: 18px;
    font-weight: 600;
}
.select-plan {
    margin: 30px 0;
}
label {
    font-size: 18px;
    color: #2f2533;
}
.price-plan__description {
    font-size: 14px;
    color: #727272;
}
.special-price {
    color: #c40000;
    font-weight: 600;
}
.price-plan__description ul {
    margin-top: 0;
    margin-bottom: 30px;
}
.crossed {
    text-decoration: line-through;
}
.price-page .btn-ingr-block {
    margin: 30px 0;
    text-align: center;
    max-width: 270px;
}
.price-page .btn-ingr-block div {
    font-size: 12px;
    color: #727272;
    text-align: center;
    margin: 16px 0;
}
.price-page .btn-ingredients {
    padding: 12px 76px;
}
.price-page .icons {
    width: 100%;
}
.price-page .hair-icon {
    width: 190px;
    flex-direction: column;
    text-align: center;
    color: #2e3192;
}
.price-page span {
    margin-top: 16px;
}
.award-header {
    font-size: 28px;
    color: #2e3192;
    text-align: center;
    width: 100%;
    margin: 90px 0;
}
.award-wrapper {
    position: relative;
    height: 790px;
    width: 650px;
}
.award-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    margin-top: -390px;
    margin-left: -125px;
}
.el1, .el2, .el3, .el4 {
    position: absolute;
    width: 160px;
    text-align: center;
}

.el1:before, .el2:before, .el3:before, .el4:before {
    position: absolute;
    width: 172px;
    height: 63px;
    content: '';
}

.el1:after, .el2:after, .el3:after, .el4:after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    background-color: #727272;
}

.el1:before {
    border-bottom: 1px solid #727272;
    border-left: 1px solid #727272;
    top: 60px;
    left: 80px;
}
.el1:after {
    left: 252px;
    top:113px;
}
.el2:after {
    right: 252px;
    top:113px;
}
.el3:after {
    left: 252px;
    bottom:113px;
}
.el4:after {
    right: 252px;
    bottom:113px;
}
.el2:before {
    border-bottom: 1px solid #727272;
    border-right: 1px solid #727272;
    top: 60px;
    right: 80px;
}
.el3:before {
    border-top: 1px solid #727272;
    border-left: 1px solid #727272;
    bottom: 60px;
    left: 80px;
}
.el4:before {
    border-top: 1px solid #727272;
    border-right: 1px solid #727272;
    bottom: 60px;
    right: 80px;
}
.el1 {
    left: 0;
    top: 20%
}
.el2 {
    right: 0;
    top: 40%;
}
.el3 {
    left:0;
    top:60%;
}
.el4 {
    right: 0;
    top:80%;
}
.bottom-part {
    flex-direction: column;
    align-items: center;
}
.price-page .video-wrapper {
    background: linear-gradient(to right, #d8edf7 0%, #d8edf7 70%, #d8edf7 70%, transparent 70%, transparent 100%);
    display: flex;
    flex-direction: row;
    padding: 30px 0 30px 30px;
    color: #2e3192;
    font-size: 24px;
    text-align: center;
}
.video-title {
    width: 80%;
}
.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}
.video-txt {
    font-size: 28px;
    font-weight: 600;
}
.video-box {
    width: 560px;
}
.video-wrapper iframe {
    position: inherit;
    width: 540px;
    height: 295px;
}
.slider-wrapper {
    margin: 30px auto;
    width: 100%;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.slick-dots li{
    list-style: none;
}
.slick-dots li button{
    color: transparent;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: solid 1px #3d2277;
    display: block;
    padding: 0;
    margin: 0 3px;
}
.slick-dots li.slick-active button{
    background-color: #3d2277;
}

.bottom-accordion__wrapper {
    display: flex;
    flex-direction: row;
    background-color: #cccccc45;
}

.bottom-accordion__text {
    font-size: 28px;
    color: #2f2533;
    padding: 80px;
    min-width: 50%;
    display: flex;
    align-items: center;
}
.bottom-accordion {
    min-height: 250px;
    display: flex;
    align-items: center;
}
.bottom-accordion .accordionItem {
    border-bottom: none;
    font-size: 12px;
}
.bottom-accordion .accordionItemHeading {
    font-size: 14px;
    color: #2e3192;
    font-weight: normal;
    padding: 10px 10px 5px 10px;
}
.bottom-accordion .accordionWrapper {
    border: none;
    padding: 30px;
}
.bottom-accordion .accordionItemContent {
    padding: 0 45px 10px 10px;
}
.bottom-img {
    width: 100%;
}
.mobile-visible{
    display: none!important;
}
.mobile-hidden {
    display: block !important;
}
@media only screen and (max-width: 768px) {
    .pricing-plan-content {
        padding-right: 30px;
    }
    .mobile-hidden {
        display: none !important;
    }
    .mobile-visible{
        display: block !important;
    }
    .pricing-plan-image {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 750px){
    .section-header {
        margin: 27px 0;
    }
    .medium-up--push-one-fifth {
        left: auto;
    }
    .medium-up--eight-tenths {
        width: auto;
    }
}
@media only screen and (max-width: 750px) {
    .grid__item{
        float: none;
        padding-left: 0;
        width: 100%;
        margin-left: auto;
    }
    .hair-analysis.box {
        align-items: start;
    }
    .box-text {
        text-align: left;
        margin-top: 16px;
    }
    .icons-row {
        padding: 0;
        margin: 0;
    }
    .price-page.main-page-section {
        flex-direction: column-reverse;
    }
    .price-page.bottom-part {
        flex-direction: column;
    }
    .bottom-accordion__wrapper {
        flex-direction: column;
    }
    .price-page .video-wrapper {
        flex-direction: column;
        background-color: #d8edf7;
        padding: 30px 15px;
    }
    .price-page .video-content {
        width: 100%;
    }
    .video-wrapper iframe {
        max-width: 300px;
    }
    .video-box {
        width: 100%;
    }
    .price-page .icons-row {
        flex-wrap: wrap;
    }
    .price-page .hair-icon {
        height: auto;
        width: 120px;
    }
    .pricing-plan-content {
        padding: 0 15px 15px;
    }
    .bottom-accordion__text {
        text-align: center;
        padding: 30px;
    }
    .price-page h5 {
        max-width: 90%;
    }
    .award-wrapper {
        width: 300px;
        height: 630px;
    }
    .el2 {
        top: 10%;
    }
    .el4 {
        top: 50%;
    }
    .el1, .el2, .el3, .el4 {
        width: 80px;
    }
    .el1:before, .el3:before {
        left:40px;
    }
    .el1:before {
        top: 75px;
    }
    .el2:before{
        top:90px;
    }
    .el3:before {
        bottom: 90px;
    }
    .el4:before {
        bottom: 90px;
    }
    .el1:after {
        top:85px;
    }
    .el2:after{
        top:100px;
    }
    .el3:after {
        bottom: 100px;
    }
    .el4:after {
        bottom: 100px;
    }
    .el2:before, .el4:before {
        right:40px
    }
    .el1:before, .el2:before,
    .el3:before, .el4:before {
        width:40px;
        height: 20px;
    }
    .el1:after, .el3:after{
        left: 75px;
    }
    .el2:after, .el4:after {
        right: 75px;
    }
    .award-img {
        width: 180px;
        margin-left: -90px;
    }
}
@media only screen and (max-width: 749px){
    .description h2{
        font-size: 3rem;
    }
    .section-header{
        margin: 0;
    }
    .ingredients-description {
        font-size: 18px;
    }
    .custom-formula {
        text-align: center;
        font-size: 18px;
        margin: 24px 0 0;
    }
    .box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-img{
        margin: 16px 32px;
    }
}
@media(max-width: 660px) {
    .grid{
        margin-left: auto;
    }
    .bottle {
        margin: 46px 0;
    }

    .bottle-row {
        margin: 0;
    }
    .site-header-sections {
        flex-direction: column;
        padding: 8px;
    }
    .top-menu .cart {
        margin-left: 0;
    }
    .top-menu li a {
        PADDING: 8px 10px;
    }

    element.style {
    }
    .grid__item[class*='--push'] {
        position: relative;
    }
    .custom-top__bar-block {
        text-align: center;
        margin-bottom: 50px;
    }

}
@media(max-width: 500px){
    .perc b:before{
        left: 5%;
    }
}
@media(max-width: 380px){
    .perc b:before{
        left: 3%;
    }
    .perc b{
        font-size: 0.9em;
    }
    .age-para{
        font-size: 1.9em;
    }
}


